<% include header %>
    <div class="site-main-container">
        <!-- Start top-post Area -->
        <% include TopTrangChu %>
            <!-- End top-post Area -->
            <!-- Start latest-post Area -->
            <section class="latest-post-area pb-120">
                <div class="container no-padding">
                    <div class="row">
                        <div class="col-lg-8 post-list">
                            <!-- Start latest-post Area -->
                            <% include Top10ChuyenMuc %>
                                <div class="popular-post-wrap mt-30">
                                    <h4 class="title">Video</h4>
                                    <div class="row">
                                        <div class="col-12">
                                                <section class="videowrapper ytvideo ">
                                                        <a href="javascript:void(0); " class="close-button "></a>
                                                        <div class="gradient-overlay "></div>
                                                        <i class="fa fa-arrows-alt " aria-hidden="true "></i>
                                                        <iframe class="featured-video " width="300 " height="200 " src="https://www.youtube.com/embed/E-FX_cvdrsg?enablejsapi=1&amp;controls=1&amp; " frameborder="0 " allowfullscreen></iframe>
                                                    </section>
                                           
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="sidebars-area">
                                <% include XemNhieu %>

                                    <% include MoiNhat %>

                            </div>
                        </div>


                    </div>

                </div>
            </section>

            <!-- End latest-post Area -->
    </div>

    <!-- start footer Area -->
    <!-- End footer Area -->


    <% include footer %>