<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Admin</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" />
    <!-- Animation library for notifications   -->
    <link href="../../css/animate.min.css" rel="stylesheet" />
    <!--  Light Bootstrap Table core CSS    -->
    <link href="../../css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="../../css/demo.css" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="../../css/pe-icon-7-stroke.css" rel="stylesheet" />

    <!-- Ionicons -->
    <link rel="stylesheet" href="../../css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../css/AdminLTE.min.css">

    <link href="../../css/jquery.tagit.css" rel="stylesheet" type="text/css">
    <link href="../../css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="../../js/tag-it.js" type="text/javascript" charset="utf-8"></script>


    <script>
        $(function() {
            var sampleTags = ['c++', 'java', 'php', 'coldfusion', 'javascript', 'asp', 'ruby', 'python', 'c', 'scala', 'groovy', 'haskell', 'perl', 'erlang', 'apl', 'cobol', 'go', 'lua'];
            //-------------------------------
            $('#myULTags').tagit({
                availableTags: sampleTags,
                itemName: 'item',
                fieldName: 'tags'
            });
        });
    </script>



</head>

<body>

    <div class="wrapper">
        <div class="sidebar" data-color="red" data-image="assets/img/sidebar-5.jpg">

            <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="/PV_BTV/PV/show=1" class="simple-text">
                            SQ-News
                        </a>
                </div>

                <ul class="nav">
                    <%if(user.Loai==4){%>
                        <li>
                            <a href="/admin/dashboard">
                                <i class="pe-7s-graph"></i>
                                <p>Trang Chủ</p>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/NguoiDung">
                                <i class="pe-7s-user"></i>
                                <p>Danh Sách Người Dùng</p>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/BaiViet/show=1">
                                <i class="pe-7s-note2"></i>
                                <p>Quản Lý Bài Viết</p>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/ChuyenMuc">
                                <i class="pe-7s-news-paper"></i>
                                <p>Quản Lý Chuyên Mục</p>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/Tags">
                                <i class="pe-7s-science"></i>
                                <p>Quản Lý Tags</p>
                            </a>
                        </li>

                        <%}%>
                            <%if(user.Loai==2){%>
                                <li class="active">
                                    <a href="/PV_BTV/PV/show=1">
                                        <i class="pe-7s-user"></i>
                                        <p>Phóng Viên</p>
                                    </a>
                                </li>

                                <%}%>
                                    <%if(user.Loai==3){%>
                                        <li>
                                            <a href="/PV_BTV/BTV">
                                                <i class="pe-7s-user"></i>
                                                <p>Biên Tập Viên</p>
                                            </a>
                                        </li>
                                        <%}%>
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">

                        <p class="navbar-brand">Quản Trị Viên</p>
                    </div>
                    <div class="collapse navbar-collapse">

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/account/account">
                                    <p>Account</p>
                                </a>
                            </li>

                            <li>
                                <a href="/account/logout">
                                    <p>Log out</p>
                                </a>
                            </li>
                            <li class="separator hidden-lg"></li>
                        </ul>
                    </div>
                </div>
            </nav>