<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Biên Tập Viên</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" />
    <!-- Animation library for notifications   -->
    <link href="../../css/animate.min.css" rel="stylesheet" />
    <!--  Light Bootstrap Table core CSS    -->
    <link href="../../css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="../../css/demo.css" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="../../css/pe-icon-7-stroke.css" rel="stylesheet" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="../../css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../css/AdminLTE.min.css">



</head>

<body>

    <div class="wrapper">
        <div class="sidebar" data-color="red" data-image="assets/img/sidebar-5.jpg">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="http://www.creative-tim.com" class="simple-text">
                        Creative Tim
                    </a>
                </div>

                <ul class="nav">
                    <li>
                        <a href="/admin/PV/2">
                            <i class="pe-7s-user"></i>
                            <p>Phóng Viên</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/admin/BTV/2">
                            <i class="pe-7s-user"></i>
                            <p>Biên Tập Viên</p>
                        </a>
                    </li>


                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">

                        <a class="navbar-brand" href="/admin/BTV/2">Biên Tập Viên</a>
                    </div>
                    <div class="collapse navbar-collapse">

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/admin/account/2">
                                    <p>Account</p>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <p>Log out</p>
                                </a>
                            </li>
                            <li class="separator hidden-lg"></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Danh Sách Bài Báo Nháp</h3>

                        <div class="box-tools">

                            <div class="input-group input-group-sm" style="width: 250px;">
                                <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding ">
                        <table class="table table-hover ">
                            <tr>
                                <th>ID</th>
                                <th>Tiêu Đề</th>
                                <th>Tác Giả</th>
                                <th>Ngày Gửi</th>
                                <th>Status</th>
                                <th>Chuyên Mục</th>
                                <th>Select</th>
                            </tr>
                            <tr>
                                <td>183</td>
                                <td>ABC</td>
                                <td>John Doe</td>
                                <td>11-7-2014</td>
                                <td><span class="label label-info ">draft</span></td>
                                <td>#</td>
                                <td>
                                    <div class="checkbox">
                                        <input id="checkbox1" type="checkbox">
                                        <label for="checkbox1"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>219</td>
                                <td>ABC</td>
                                <td>Alexander Pierce</td>
                                <td>11-7-2014</td>
                                <td><span class="label label-info ">draft</span></td>
                                <td>#</td>
                                <td>
                                    <div class="checkbox">
                                        <input id="checkbox2" type="checkbox">
                                        <label for="checkbox2"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>657</td>
                                <td>ABC</td>
                                <td>Bob Doe</td>
                                <td>11-7-2014</td>
                                <td><span class="label label-info ">draft</span></td>
                                <td>#</td>
                                <td>
                                    <div class="checkbox">
                                        <input id="checkbox3" type="checkbox">
                                        <label for="checkbox3"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>175</td>
                                <td>ABC</td>
                                <td>Mike Doe</td>
                                <td>11-7-2014</td>
                                <td><span class="label label-info ">draft</span></td>
                                <td>#</td>
                                <td>
                                    <div class="checkbox">
                                        <input id="checkbox4" type="checkbox">
                                        <label for="checkbox4"></label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-10"></div>
                    <button type="submit" class="btn btn-success btn-fill">Duyệt</button>
                    <button type="submit" class="btn btn-danger btn-fill">Từ Chối</button>
                </div>

                <!-- /.box-body -->
            </div>

            <!-- /.box -->


            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Lịch Sử Duyệt</h3>
                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-simple btn-xs">
                                <i class="fa fa-edit"></i>
                            </button>
                        <button type="button" rel="tooltip" title="Remove" class="btn btn-simple btn-xs">
                                <i class="fa fa-times"></i>
                            </button>
                        <div class="box-tools">

                            <div class="input-group input-group-sm" style="width: 250px;">
                                <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding ">
                        <table class="table table-hover ">
                            <tr>
                                <th>ID</th>
                                <th>Tiêu Đề</th>
                                <th>Tác Giả</th>
                                <th>Ngày Gửi</th>
                                <th>Status</th>
                                <th>Chuyên Mục</th>
                                <th>Select</th>
                            </tr>
                            <tr>
                                <td>183</td>
                                <td>ABC</td>
                                <td>John Doe</td>
                                <td>11-7-2014</td>
                                <td><span class="label label-success ">Đã Duyệt</span></td>
                                <td>#</td>
                                <td>
                                    <div class="checkbox">
                                        <input id="checkbox10" type="checkbox">
                                        <label for="checkbox10"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>219</td>
                                <td>ABC</td>
                                <td>Alexander Pierce</td>
                                <td>11-7-2014</td>
                                <td><span class="label label-success ">Đã Duyệt</span></td>
                                <td>#</td>
                                <td>
                                    <div class="checkbox">
                                        <input id="checkbox11" type="checkbox">
                                        <label for="checkbox11"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>657</td>
                                <td>ABC</td>
                                <td>Bob Doe</td>
                                <td>11-7-2014</td>
                                <td><span class="label label-danger ">Bị Từ Chối</span></td>
                                <td>#</td>
                                <td>
                                    <div class="checkbox">
                                        <input id="checkbox12" type="checkbox">
                                        <label for="checkbox12"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>175</td>
                                <td>ABC</td>
                                <td>Mike Doe</td>
                                <td>11-7-2014</td>
                                <td><span class="label label-danger ">Bị Từ Chối</span></td>
                                <td>#</td>
                                <td>
                                    <div class="checkbox">
                                        <input id="checkbox13" type="checkbox">
                                        <label for="checkbox13"></label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    <script src="../../js/jquery.3.2.1.min.js" type="text/javascript"></script>
    <script src="../../js/bootstrap.min.js" type="text/javascript"></script>

    <!--  Notifications Plugin    -->
    <script src="../../js/bootstrap-notify.js"></script>


    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="../../js/light-bootstrap-dashboard.js?v=1.4.0"></script>

    <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    <script src="../../js/demo.js"></script>
</body>

</html>