<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>News</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" />
    <!-- Animation library for notifications   -->
    <link href="../../css/animate.min.css" rel="stylesheet" />
    <!--  Light Bootstrap Table core CSS    -->
    <link href="../../css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="../../css/demo.css" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="../../css/pe-icon-7-stroke.css" rel="stylesheet" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="../../css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../css/AdminLTE.min.css">


</head>

<body>

    <div class="wrapper">
        <div class="sidebar" data-color="red" data-image="assets/img/sidebar-5.jpg">

            <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="http://www.creative-tim.com" class="simple-text">
                        Creative Tim
                    </a>
                </div>

                <ul class="nav">
                    <li>
                        <a href="/admin/dashboard/1">
                            <i class="pe-7s-graph"></i>
                            <p>Trang Chủ</p>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/NguoiDung/1">
                            <i class="pe-7s-user"></i>
                            <p>Danh Sách Người Dùng</p>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/BaiViet/show=1">
                            <i class="pe-7s-note2"></i>
                            <p>Quản Lý Bài Viết</p>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/ChuyenMuc/1">
                            <i class="pe-7s-news-paper"></i>
                            <p>Quản Lý Chuyên Mục</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/admin/Tags/1">
                            <i class="pe-7s-science"></i>
                            <p>Quản Lý Tags</p>
                        </a>
                    </li>


                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">

                        <a class="navbar-brand" href="/admin/Tags/1">Quản Lý Tags</a>
                    </div>
                    <div class="collapse navbar-collapse">

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/admin/account/1">
                                    <p>Account</p>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <p>Log out</p>
                                </a>
                            </li>
                            <li class="separator hidden-lg"></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Danh Sách Tags</h4>

                                </div>
                                <div class="content table-responsive table-full-width">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <div id="example1_filter" class="dataTables_filter"><label>Search:
                                                    <input type="search" placeholder=""
                                                        aria-controls="example1"></label></div>
                                        </div>
                                        <div class="col-sm-2">
                                            <button onclick="document.getElementById('Them').style.display='block'" type="button" rel="tooltip" title="Add" class="btn btn-simple btn-xs">
                                                Thêm<i class="fa fa-plus"></i>
                                            </button>

                                        </div>
                                    </div>
                                    <table id="table" class="table table-hover table-striped">
                                        <thead>
                                            <th>ID</th>
                                            <th>Tên Tag</th>
                                            <th>Thêm/Xóa/Cập Nhật</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>01</td>
                                                <td>Thể Thao</td>
                                                <td>
                                                   
                                                    <a onclick="return confirm('Bạn Có Chắc Chắn Muốn Xóa')" href="#" type="button" rel="tooltip" title="Remove" class="btn btn-simple btn-xs">
                                                        <i class="fa fa-times"></i>
                                            </a>
                                                <button id="btnSua" onclick="document.getElementById('Sua').style.display='block'" type="button" rel="tooltip" title="Edit Task" class="btn btn-simple btn-xs">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                </td>

                                            </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div id="Them" class="modal">
                            <div class="content">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <span onclick="document.getElementById('Them').style.display='none'" class="close" title="Close Modal">&times;</span>
                                                <div class="header">
                                                    <h4 class="title">Thêm</h4>
                                                </div>
                                                <div class="content">
                                                    <form action="#" method="post" novalidate id="AddTags">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label>Tên Tags</label>
                                                                    <input type="text" class="form-control" name="addTenTags" placeholder="Thể Thao">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>ID Bài Viết Gắn tags</label>
                                                                    <input type="number" class="form-control" name="IDBaiViet" placeholder="Thể Thao">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <button type="submit" class="btn btn-info btn-fill pull-right">Thêm </button>
                                                        <div class="clearfix"></div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        
                        </div>
                        <div id="Sua" class="modal">
                            <div class="content">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <span onclick="document.getElementById('Sua').style.display='none'" class="close" title="Close Modal">&times;</span>
                                                <div class="header">
                                                    <h4 class="title">Sửa</h4>

                                                </div>
                                                <div class="content">
                                                    <form action="#" method="post" novalidate id="EditTags">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label>Tên Tags</label>
                                                                    <input id="EditTenTags" type="text" class="form-control" name="EditTenTags" placeholder="Thể Thao">
                                                                    <input id="IDTags" type="hidden" class="form-control" name="IDTags" placeholder="Thể Thao">
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                        <button type="submit" class="btn btn-info btn-fill pull-right">Sửa</button>
                                                        <div class="clearfix"></div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


</body>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script>
    $('#table #btnSua').click(function(e) {
        /* e.preventDefault();*/
        $('#EditTenTags').val($(this).closest('tr').find('td:nth-child(2)').text()); //Lấy value cột thứ nhất
        $('#IDTags').val($(this).closest('tr').find('td:nth-child(1)').text().trim()); 
        
    });
</script>
<script src="../../js/bootstrap.min.js" type="text/javascript"></script>

<!--  Notifications Plugin    -->
<script src="../../js/bootstrap-notify.js"></script>


<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="../../js/light-bootstrap-dashboard.js?v=1.4.0"></script>

<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="../../js/demo.js"></script>


</html>