<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>SQ-News</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
		CSS
		============================================= -->
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/breaking-news-ticker.css">
    <link rel="stylesheet" href="css/video.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/dangnhap.css">
    <!--JS-->
    <script type="text/javascript" src="js/video.js"></script>
    <script type="text/javascript" src="js/date_time.js"></script>
</head>


<body onload="startTime()">
    <header>
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 header-top-left no-padding">
                        <ul>
                            <li><a href="#"><i class="far fa-user" onclick="document.getElementById('id01').style.display='block'" style="width:auto;"></i></a></li>

                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 header-top-right no-padding date-time">
                        <ul>
                            <p id="date"></p>
                            <p id="txt"></p>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="logo-wrap">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-4 col-md-4 col-sm-12 logo-left no-padding">
                        <a href="/">
                            <img class="img-fluid" src="" alt="">
                        </a>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 logo-right no-padding ads-banner">
                        <img class="img-fluid" src="img/banner-ad.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>


        <nav class=" navbar-expand-lg navbar navbar-dark bg-dark ">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="https://www.gmkfreelogos.com/logos/S/img/SQ.gif" width="25" height="25" class="d-inline-block align-top" alt=""> SQ News
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto ">
                        <li class="nav-item active dropdown">
                            <a class="nav-link " href="/Thoi_Su" target="_self">
                                THỜI SỰ
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/ChuDe/Chinh_Tri">CHÍNH TRỊ</a>
                                <a class="dropdown-item" href="/ChuDe/Giao_Thong">GIAO THÔNG</a>
                            </div>
                        </li>
                        <li class="nav-item active dropdown">
                            <a class="nav-link " href="/Kinh_Doanh" target="_self">
                                KINH DOANH
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/ChuDe/Bat_Dong_San">BẤT ĐỘNG SẢN</a>
                                <a class="dropdown-item" href="/ChuDe/Kinh_Doanh">DOANH NHÂN</a>
                            </div>
                        </li>
                        <li class="nav-item active dropdown">
                            <a class="nav-link " href="/The_Thao" target="_self">
                                THỂ THAO
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/ChuDe/The_Thao_VN">THỂ THAO VIỆT NAM</a>
                                <a class="dropdown-item" href="/ChuDe/The_Thao_The_Gioi">THỂ THAO THẾ GIỚI</a>

                            </div>
                        </li>
                        <li class="nav-item active dropdown">
                            <a class="nav-link " href="/Giai_Tri" target="_self">
                                GIẢI TRÍ
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/ChuDe/Am_Nhac">ÂM NHẠC</a>
                                <a class="dropdown-item" href="/ChuDe/Phim_Anh">PHIM ẢNH</a>

                            </div>
                        </li>
                        <li class="nav-item active dropdown">
                            <a class="nav-link " href="/Cong_Nghe" target="_self">
                                CÔNG NGHỆ
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/ChuDe/Mobile">MOBILE</a>
                                <a class="dropdown-item" href="/ChuDe/Khoi_Nghiep">KHỞI NGHIỆP</a>
                            </div>
                        </li>
                    </ul>
                    <div class="navbar-right ">
                        <form class="Search">
                            <input type="text" class="form-control Search-box" name="Search-box" id="Search-box" placeholder="Search">
                            <label for="Search-box" class="Search-box-label">
                                <span class="lnr lnr-magnifier"></span>
                            </label>
                            <span class="Search-close">
                                <span class="lnr lnr-cross"></span>
                            </span>
                        </form>
                    </div>

                </div>
        </nav>
    </header>


    <div class="site-main-container">
        <!-- Start top-post Area -->
        <section class="top-post-area pt-10">
            <div class="container no-padding">
                <div class="row small-gutters">
                    <div class="col-lg-8 col-xl-8 top-post-left">
                        <div class="feature-image-thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <a href="html/AmNhac.html">
                                <img class="img-fluid" src="https://znews-photo.zadn.vn/w660/Uploaded/bpivpjbp/2019_05_03/m11526380122969151497767.jpg" alt="">
                            </a>
                        </div>
                        <div class="top-post-details">
                            <ul class="tags">
                                <li><a href="html/Tag_Am_Nhac">Âm Nhạc</a></li>
                            </ul>
                            <a href="html/AmNhac.html">
                                <h3>Những cặp tình nhân tin đồn gây chú ý của showbiz Việt</h3>
                            </a>
                            <ul class="meta">
                                <li><a href="#"><span class="lnr lnr-user"></span>Hiếu Nguyệt</a></li>
                                <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a></li>
                                <li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-4 top-post-right">
                        <div class="single-top-post">
                            <div class="feature-image-thumb relative">
                                <div class="overlay overlay-bg"></div>
                                <a href="html/AmNhac02.html">
                                    <img class="img-fluid" src="https://i-giaitri.vnecdn.net/2019/04/09/872786000-w500-7955-1554783491.png" alt=""></a>
                            </div>
                            <div class="top-post-details">
                                <ul class="tags">
                                    <li><a href="html/Tag_Am_Nhac">Âm Nhạc</a></li>
                                </ul>
                                <a href="html/AmNhac02.html">
                                    <h4>Sơn Tùng M-TP: 'Với âm nhạc, tôi chưa bao giờ muốn dừng lại'</h4>
                                </a>
                                <ul class="meta">
                                    <li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
                                    <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a></li>
                                    <li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-top-post mt-10">
                            <div class="feature-image-thumb relative">
                                <div class="overlay overlay-bg"></div>
                                <a href="html/U23VN.html">
                                    <img class="img-fluid" src="https://image.thanhnien.vn/665/uploaded/congthang/2018_09_04/0101_mmsd.jpg" alt=""></a>
                            </div>
                            <div class="top-post-details">
                                <ul class="tags">
                                    <li><a href="html/Tag_TTVN.html">Thể Thao Việt Nam</a></li>
                                </ul>
                                <a href="html/U23VN.html">
                                    <h4>Không chỉ Tiến Dũng, các cầu thủ U23 Việt Nam đều 'dậy thì thành công'</h4>
                                </a>
                                <ul class="meta">
                                    <li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
                                    <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a></li>
                                    <li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-12">
                        <div class="breaking-news-ticker" id="newsTicker1">
                            <div class="bn-label">Tin Mới</div>
                            <div class="bn-news">
                                <ul>
                                    <li>
                                        <a href="html/TheThaoVN02.html">HLV Park giục thủ môn Bùi Tiến Dũng mua
                                            nhà</a>
                                    </li>
                                    <li><a href="html/PhimAnh01.html">Phim ngắn Việt Nam tranh giải tại LHP
                                            Cannes</a></li>
                                    <li><a href="html/AmNhac01.html">Ariana Grande bênh vực Justin Bieber sau sự
                                            cố hát nhép</a></li>
                                    <li><a href="#html/AmNhac.html">Những cặp tình nhân tin đồn gây chú ý của
                                            showbiz Việt</a></li>
                                    <li><a href="#html/AmNhac.html">Không chỉ Tiến Dũng, các cầu thủ U23 Việt Nam
                                            đều 'dậy thì thành công'</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- End top-post Area -->
        <!-- Start latest-post Area -->
        <section class="latest-post-area pb-120">
            <div class="container no-padding">
                <div class="row">
                    <div class="col-lg-8 post-list">
                        <!-- Start latest-post Area -->
                        <div class="latest-post-wrap">
                            <h4 class="cat-title">Top 10 Chuyên Mục</h4>
                            <div class="single-latest-post row align-items-center">
                                <div class="col-lg-5 post-left">
                                    <div class="feature-img relative">
                                        <div class="overlay overlay-bg"></div>
                                        <a href="html/PhimAnh01.html">
                                            <img class="img-fluid" src="https://i-giaitri.vnecdn.net/2019/04/25/Hay-tinh-thuc-va-san-sang-7696-1556210504.png" alt=""></a>
                                    </div>
                                    <ul class="tags">
                                        <li><a href="html/Tag_Phim_Anh.html">Phim Ảnh</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-7 post-right">
                                    <a href="html/PhimAnh01.html">
                                        <h4>Phim ngắn Việt Nam tranh giải tại LHP Cannes</h4>
                                    </a>
                                    <ul class="meta">
                                        <li><a href="#"><span class="lnr lnr-user"></span>Hoàng Việt</a></li>
                                        <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a>
                                        </li>
                                        <li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
                                    </ul>
                                    <p class="excert">
                                        "Hãy tỉnh thức và sẵn sàng" của đạo diễn trẻ Phạm Thiên Ân dự giải Illy tại hạng mục phim ngắn thuộc chương trình "Tuần lễ đạo diễn".
                                    </p>
                                    <p>
                                        <a href="html/Tags_01.html" class="badge badge-primary">Primary</a>
                                        <a href="html/Tags_02.html" class="badge badge-secondary">Secondary</a>
                                        <a href="html/Tags_03.html" class="badge badge-success">Success</a>
                                        <a href="html/Tags_04.html" class="badge badge-danger">Danger</a>
                                        <a href="html/Tags_05.html" class="badge badge-warning">Warning</a>

                                    </p>
                                </div>
                            </div>
                            <div class="single-latest-post row align-items-center">
                                <div class="col-lg-5 post-left">
                                    <div class="feature-img relative">
                                        <div class="overlay overlay-bg"></div>
                                        <a href="html/AmNhac02.html">
                                            <img class="img-fluid" src="https://i-giaitri.vnecdn.net/2019/04/09/872786000-w500-7955-1554783491.png" alt=""></a>
                                    </div>
                                    <ul class="tags">
                                        <li><a href="html/Tag_Am_Nhac.html">Âm Nhạc</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-7 post-right">
                                    <a href="html/AmNhac02.html">
                                        <h4>Sơn Tùng M-TP: 'Với âm nhạc, tôi chưa bao giờ muốn dừng lại'</h4>
                                    </a>
                                    <ul class="meta">
                                        <li><a href="#"><span class="lnr lnr-user"></span>Bảo Sơn</a></li>
                                        <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a>
                                        </li>
                                        <li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
                                    </ul>
                                    <p>
                                        Nhiều năm qua, ca sĩ luôn cố gắng đưa con người thật của mình vào từng album và muốn sống trọn vẹn với đam mê âm nhạc.
                                    </p>
                                    <p>
                                        <a href="html/Tags_01.html" class="badge badge-primary">Primary</a>
                                        <a href="html/Tags_02.html" class="badge badge-secondary">Secondary</a>
                                        <a href="html/Tags_03.html" class="badge badge-success">Success</a>
                                        <a href="html/Tags_04.html" class="badge badge-danger">Danger</a>
                                        <a href="html/Tags_05.html" class="badge badge-warning">Warning</a>

                                    </p>
                                </div>
                            </div>

                            <div class="single-latest-post row align-items-center">
                                <div class="col-lg-5 post-left">
                                    <div class="feature-img relative">
                                        <div class="overlay overlay-bg"></div>
                                        <a href="html/TaiNanDeoPren.html">
                                            <img class="img-fluid" src="https://i-vnexpress.vnecdn.net/2019/04/28/tai-nan-1-9268-1556410786.jpg" alt=""></a>
                                    </div>
                                    <ul class="tags">
                                        <li><a href="html/Tag_Giao_Thong">Giao Thông</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-7 post-right">
                                    <a href="html/TaiNanDeoPren.html">
                                        <h4>Người dân giải cứu phụ xe kẹt trong cabin sau tai nạn liên hoàn</h4>
                                    </a>
                                    <ul class="meta">
                                        <li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
                                        <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a>
                                        </li>
                                        <li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
                                    </ul>
                                    <p>
                                        Theo CSGT Lâm Đồng, để giảm ùn tắc giao thông dịp lễ 30/4 và 1/5, đơn vị đã cấm xe khách lên đèo Prenn. Cụ thể, từ ngày 27/4 đến 30/4, tất cả ôtô (trừ xe buýt) từ 29 chỗ trở lên chạy từ hướng huyện Đức Trọng về Đà Lạt sẽ đi đường đèo Mimosa. Tuy nhiên,
                                        rất nhiều xe khách vẫn tiếp tục lên đèo Prenn.
                                    </p>
                                    <p>
                                        <a href="html/Tags_01.html" class="badge badge-primary">Primary</a>
                                        <a href="html/Tags_02.html" class="badge badge-secondary">Secondary</a>
                                        <a href="html/Tags_03.html" class="badge badge-success">Success</a>
                                        <a href="html/Tags_04.html" class="badge badge-danger">Danger</a>
                                        <a href="html/Tags_05.html" class="badge badge-warning">Warning</a>

                                    </p>
                                </div>
                            </div>
                            <div class="single-latest-post row align-items-center">
                                <div class="col-lg-5 post-left">
                                    <div class="feature-img relative">
                                        <div class="overlay overlay-bg"></div>
                                        <a href="html/BDSan01.html">
                                            <img class="img-fluid" src="https://i-kinhdoanh.vnecdn.net/2019/04/25/181217581-w500-2683-1556169130.png" alt=""></a>
                                    </div>
                                    <ul class="tags">
                                        <li><a href="html/Tag_BDS.html">Bất Động Sản</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-7 post-right">
                                    <a href="html/BDSan01.html">
                                        <h4>Gần 400 khách hàng dự lễ tri ân của chủ đầu tư Green Pearl</h4>
                                    </a>
                                    <ul class="meta">
                                        <li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
                                        <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a>
                                        </li>
                                        <li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
                                    </ul>
                                    <p>
                                        Mới đây, lễ tri ân khách hàng dự án Green Pearl 378 Minh Khai được tổ chức tại khách sạn Sheraton Hà Nội. Sự kiện thu hút gần 400 khách hàng tham dự là các cư dân tương lai và khách hàng đang quan tâm, có nhu cầu mua nhà tại dự án .
                                    </p>
                                    <p>
                                        <a href="html/Tags_01.html" class="badge badge-primary">Primary</a>
                                        <a href="html/Tags_02.html" class="badge badge-secondary">Secondary</a>
                                        <a href="html/Tags_03.html" class="badge badge-success">Success</a>
                                        <a href="html/Tags_04.html" class="badge badge-danger">Danger</a>
                                        <a href="html/Tags_05.html" class="badge badge-warning">Warning</a>

                                    </p>
                                </div>
                            </div>
                            <div class="single-latest-post row align-items-center">
                                <div class="col-lg-5 post-left">
                                    <div class="feature-img relative">
                                        <div class="overlay overlay-bg"></div>
                                        <a href="html/ChinhTri01.html">
                                            <img class="img-fluid" src="https://i-vnexpress.vnecdn.net/2019/05/01/xa-sung-2286-1556668824.jpg" alt=""></a>
                                    </div>
                                    <ul class="tags">
                                        <li><a href="html/Tag_Chinh_Tri.html">Chính Trị</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-7 post-right">
                                    <a href="html/ChinhTri01.html">
                                        <h4>Nổ súng ở trường đại học Mỹ, ít nhất hai người thiệt mạng</h4>
                                    </a>
                                    <ul class="meta">
                                        <li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
                                        <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a>
                                        </li>
                                        <li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
                                    </ul>
                                    <p>
                                        Đại học Bắc Carolina, Mỹ xác nhận ít nhất hai người thiệt mạng và 4 người bị thương trong vụ nổ súng ở trường hôm 30/4. Những người bị thương được đưa tới bệnh viện điều trị, trong khi người thiệt mạng là hai nam sinh 17 và 18 tuổi.
                                    </p>
                                    <p>
                                        <a href="html/Tags_01.html" class="badge badge-primary">Primary</a>
                                        <a href="html/Tags_02.html" class="badge badge-secondary">Secondary</a>
                                        <a href="html/Tags_03.html" class="badge badge-success">Success</a>
                                        <a href="html/Tags_04.html" class="badge badge-danger">Danger</a>
                                        <a href="html/Tags_05.html" class="badge badge-warning">Warning</a>

                                    </p>
                                </div>
                            </div>
                            <div class="single-latest-post row align-items-center">
                                <div class="col-lg-5 post-left">
                                    <div class="feature-img relative">
                                        <div class="overlay overlay-bg"></div>
                                        <a href="html/U23VN.html">
                                            <img class="img-fluid" src="https://photo-1-baomoi.zadn.vn/w1000_r1/2018_01_25_351_24744570/4b48d51e1658ff06a649.jpg" alt=""></a>
                                    </div>
                                    <ul class="tags">
                                        <li><a href="html/Tag_TTVN.html">Thể Thao Việt Nam</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-7 post-right">
                                    <a href="html/U23VN.html">
                                        <h4>Không chỉ Tiến Dũng, các cầu thủ U23 Việt Nam đều 'dậy thì thành công'</h4>
                                    </a>
                                    <ul class="meta">
                                        <li><a href="#"><span class="lnr lnr-user"></span>Bảo Sơn</a></li>
                                        <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a>
                                        </li>
                                        <li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
                                    </ul>
                                    <p>
                                        rần Đình Trọng, Nguyễn Trọng Đại, Vũ Văn Thanh... đều sở hữu vẻ ngoài khôi ngô, điển trai từ khi còn nhỏ.
                                    </p>
                                    <p>
                                        <a href="html/Tags_01.html" class="badge badge-primary">Primary</a>
                                        <a href="html/Tags_02.html" class="badge badge-secondary">Secondary</a>
                                        <a href="html/Tags_03.html" class="badge badge-success">Success</a>
                                        <a href="html/Tags_04.html" class="badge badge-danger">Danger</a>
                                        <a href="html/Tags_05.html" class="badge badge-warning">Warning</a>

                                    </p>
                                </div>
                            </div>
                            <div class="single-latest-post row align-items-center">
                                <div class="col-lg-5 post-left">
                                    <div class="feature-img relative">
                                        <div class="overlay overlay-bg"></div>
                                        <a href="html/DoanhNhan02.html">
                                            <img class="img-fluid" src="https://i-vnexpress.vnecdn.net/2019/04/26/2-1547628283-680x0-2039-1556245077.jpg" alt=""></a>
                                    </div>
                                    <ul class="tags">
                                        <li><a href="html/Tag_Doanh_Nhan.html">Doanh Nhân</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-7 post-right">
                                    <a href="html/DoanhNhan02.html">
                                        <h4>Bamboo Airways xin khai thác trên 30 máy bay</h4>
                                    </a>
                                    <ul class="meta">
                                        <li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
                                        <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a>
                                        </li>
                                        <li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
                                    </ul>
                                    <p>
                                        Việc tăng thêm máy bay của Bamboo có thể khiến lượng máy bay trong nước tăng, vượt quá năng lực giám sát của Cục Hàng không.
                                    </p>
                                    <p>
                                        <a href="html/Tags_01.html" class="badge badge-primary">Primary</a>
                                        <a href="html/Tags_02.html" class="badge badge-secondary">Secondary</a>
                                        <a href="html/Tags_03.html" class="badge badge-success">Success</a>
                                        <a href="html/Tags_04.html" class="badge badge-danger">Danger</a>
                                        <a href="html/Tags_05.html" class="badge badge-warning">Warning</a>

                                    </p>
                                </div>
                            </div>
                            <div class="single-latest-post row align-items-center">
                                <div class="col-lg-5 post-left">
                                    <div class="feature-img relative">
                                        <div class="overlay overlay-bg"></div>
                                        <a href="html/TheThaoVN01.html">
                                            <img class="img-fluid" src="https://i-thethao.vnecdn.net/2019/04/30/zi2-3349-1556593682.jpg" alt=""></a>
                                    </div>
                                    <ul class="tags">
                                        <li><a href="html/Tag_TTTG.html">Thể Thao Thế Giới</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-7 post-right">
                                    <a href="html/TheThaoTG01.html">
                                        <h4>Real ra ngoài Top 4 nếu mùa giải bắt đầu từ khi Zidane trở lại</h4>
                                    </a>
                                    <ul class="meta">
                                        <li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
                                        <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a>
                                        </li>
                                        <li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
                                    </ul>
                                    <p>
                                        Sự trở lại của HLV Zinedine Zidane chưa phải là một phép màu như CĐV mong đợi, nếu nhìn vào thành tích.
                                    </p>
                                    <p>
                                        <a href="html/Tags_01.html" class="badge badge-primary">Primary</a>
                                        <a href="html/Tags_02.html" class="badge badge-secondary">Secondary</a>
                                        <a href="html/Tags_03.html" class="badge badge-success">Success</a>
                                        <a href="html/Tags_04.html" class="badge badge-danger">Danger</a>
                                        <a href="html/Tags_05.html" class="badge badge-warning">Warning</a>

                                    </p>
                                </div>
                            </div>
                            <div class="single-latest-post row align-items-center">
                                <div class="col-lg-5 post-left">
                                    <div class="feature-img relative">
                                        <div class="overlay overlay-bg"></div>
                                        <a href="html/Mobile02.html">
                                            <img class="img-fluid" src="https://i-sohoa.vnecdn.net/2019/05/02/Apple-Qualcomm-3643-1556805260.jpg" alt=""></a>
                                    </div>
                                    <ul class="tags">
                                        <li><a href="html/Tag_Mobile.html">Mobile</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-7 post-right">
                                    <a href="html/Mobile02.html">
                                        <h4>Qualcomm 'đút túi' hơn 4,5 tỷ USD sau khi làm hòa với Apple</h4>
                                    </a>
                                    <ul class="meta">
                                        <li><a href="#"><span class="lnr lnr-user"></span>Hoàng Việt</a></li>
                                        <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a>
                                        </li>
                                        <li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
                                    </ul>
                                    <p class="excert">
                                        Apple được cho là đã trả cho Qualcomm 4,5 - 4,7 tỷ USD để quay lại hợp tác sau nhiều năm tranh chấp bản quyền sáng chế.
                                    </p>
                                    <p>
                                        <a href="html/Tags_01.html" class="badge badge-primary">Primary</a>
                                        <a href="html/Tags_02.html" class="badge badge-secondary">Secondary</a>
                                        <a href="html/Tags_03.html" class="badge badge-success">Success</a>
                                        <a href="html/Tags_04.html" class="badge badge-danger">Danger</a>
                                        <a href="html/Tags_05.html" class="badge badge-warning">Warning</a>

                                    </p>
                                </div>
                            </div>
                            <div class="single-latest-post row align-items-center">
                                <div class="col-lg-5 post-left">
                                    <div class="feature-img relative">
                                        <div class="overlay overlay-bg"></div>
                                        <a href="html/KhoiNghiep02.html">
                                            <img class="img-fluid" src="https://i-startup.vnecdn.net/2019/04/23/Hinh-3-Cac-startups-tham-gia-h-7788-9188-1556011274.jpg" alt=""></a>
                                    </div>
                                    <ul class="tags">
                                        <li><a href="html/Tag_Khoi_Nghiep.html">Khởi Nghiệp</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-7 post-right">
                                    <a href="html/KhoiNghiep02.html">
                                        <h4>Chương trình đầu tư khởi nghiệp Vietnam Silicon Valley Accelerator khởi động
                                        </h4>
                                    </a>
                                    <ul class="meta">
                                        <li><a href="#"><span class="lnr lnr-user"></span>Bảo Sơn</a></li>
                                        <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a>
                                        </li>
                                        <li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
                                    </ul>
                                    <p>
                                        Bootcamp 2019 của Vietnam Silicon Valley Accelerator có khoản đầu tư tăng gấp đôi dành cho startup.
                                    </p>
                                    <p>
                                        <a href="html/Tags_01.html" class="badge badge-primary">Primary</a>
                                        <a href="html/Tags_02.html" class="badge badge-secondary">Secondary</a>
                                        <a href="html/Tags_03.html" class="badge badge-success">Success</a>
                                        <a href="html/Tags_04.html" class="badge badge-danger">Danger</a>
                                        <a href="html/Tags_05.html" class="badge badge-warning">Warning</a>

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="popular-post-wrap mt-30">
                            <h4 class="title">Video</h4>
                            <div class="row">
                                <div class="col-12">
                                    <section class="videowrapper ytvideo">
                                        <a href="javascript:void(0);" class="close-button"></a>
                                        <div class="gradient-overlay"></div>
                                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                        <iframe class="featured-video" width="300" height="200" src="https://www.youtube.com/embed/v_QvL0oODLY?enablejsapi=1&amp;controls=1&amp;" frameborder="0" allowfullscreen></iframe>
                                    </section>
                                </div>
                            </div>
                            <div class="row mt-20 medium-gutters">
                                <div class="col-lg-6 single-popular-post">
                                    <div class="feature-img-wrap relative">
                                        <div class="feature-img relative">
                                            <div class="overlay overlay-bg"></div>
                                            <a href="html/video_Trăm_Năm_Không_Quên.html">
                                                <img class="img-fluid" src="https://i.ytimg.com/vi/0mn7H7qkl50/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLBO6skLmBh_AjJTfUy4iL-p0HMugA" alt=""></a>
                                        </div>
                                        <ul class="tags">
                                            <li><a href="#">Giải Trí</a></li>
                                        </ul>
                                    </div>
                                    <div class="details">
                                        <a href="html/video_Trăm_Năm_Không_Quên.html">
                                            <h4>Trăm Năm Không Quên.</h4>
                                        </a>
                                        <ul class="meta">
                                            <li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
                                            <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
                                                    2018</a></li>
                                            <li><a href="#"><span class="lnr lnr-bubble"></span>06 </a></li>
                                        </ul>
                                        <p class="excert">
                                            Ca khúc ♪♪ TRĂM NĂM KHÔNG QUÊN ♪♪<br> St : Đức Thịnh<br> #BIN #cover ca khúc Trăm Năm Không Quên đầy da diết và đầy tình cảm ♪♪<br> ➤ Video được quay và thu âm mộc tại chỗ, được thực hiện bởi #Hianhtrai tại
                                            Huyện núi #ALưới - TT Huế
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-6 single-popular-post">
                                    <div class="feature-img-wrap relative">
                                        <div class="feature-img relative">
                                            <div class="overlay overlay-bg"></div>
                                            <a href="html/video_An_Phat_VFF.html">
                                                <img class="img-fluid" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSrpz1aCeeivzb1LcPyCcmoh3Sook3Nf6w3NmpQMj6DfK9Evt84qDcpnCP6" alt=""></a>
                                        </div>
                                        <ul class="tags">
                                            <li>
                                                <a href="html/Tag_TTVN.html">Thể Thao Việt Nam</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="details">
                                        <a href="html/video_An_Phat_VFF.html">
                                            <h4> CLB Hà Nội được xóa án treo vì pháo sáng trên sân Hàng Đẫy</h4>
                                        </a>
                                        <ul class="meta">
                                            <li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
                                            <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
                                                    2018</a></li>
                                            <li><a href="#"><span class="lnr lnr-bubble"></span>06 </a></li>
                                        </ul>
                                        <p class="excert">
                                            Sáng 26/4, Ban Giải quyết khiếu nại VFF đã lấy ý kiến của từng thành viên của ban về đơn khiếu nại của CLB Hà Nội và ban tổ chức trận đấu sân Hàng Đẫy. Trước đó vào ngày 24.4, Ban Kỷ luật VFF đã có quyết định: Phạt ban tổ chức trận đấu của CLB Hà Nội
                                            70 triệu
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="sidebars-area">
                            <div class="single-sidebar-widget editors-pick-widget">
                                <h6 class="title">Top 10 Xem Nhiều Nhất</h6>
                                <div class="editors-pick-post">
                                    <div class="post-lists">
                                        <div class="single-post d-flex flex-row">
                                            <div class="thumb">
                                                <a href="html/AmNhac.html">
                                                    <img class="HinhNho" src="https://znews-photo.zadn.vn/w660/Uploaded/bpivpjbp/2019_05_03/m11526380122969151497767.jpg" alt=""></a>
                                            </div>
                                            <div class="detail">
                                                <a href="html/AmNhac.html">
                                                    <h6>Những cặp tình nhân tin đồn gây chú ý của showbiz Việt</h6>
                                                </a>
                                                <ul class="meta">
                                                    <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
                                                            2018</a></li>
                                                    <li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="single-post d-flex flex-row">
                                            <div class="thumb">
                                                <a href="html/AmNhac.html">
                                                    <img class="HinhNho" src="https://znews-photo.zadn.vn/w660/Uploaded/bpivpjbp/2019_05_03/m11526380122969151497767.jpg" alt=""></a>
                                            </div>
                                            <div class="detail">
                                                <a href="html/AmNhac.html">
                                                    <h6>Những cặp tình nhân tin đồn gây chú ý của showbiz Việt</h6>
                                                </a>
                                                <ul class="meta">
                                                    <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
                                                            2018</a></li>
                                                    <li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="single-post d-flex flex-row">
                                            <div class="thumb">
                                                <img class="HinhNho" src="https://znews-photo.zadn.vn/w660/Uploaded/bpivpjbp/2019_05_03/m11526380122969151497767.jpg" alt=""></a>
                                            </div>
                                            <div class="detail">
                                                <a href="html/TheThaoTG02.html">
                                                    <h6>Nadal và dấu hỏi về triều đại sân đất nện</h6>
                                                </a>
                                                <ul class="meta">
                                                    <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
                                                            2018</a></li>
                                                    <li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="single-post d-flex flex-row">
                                            <div class="thumb">
                                                <a href="html/AmNhac.html">
                                                    <img class="HinhNho" src="https://znews-photo.zadn.vn/w660/Uploaded/bpivpjbp/2019_05_03/m11526380122969151497767.jpg" alt=""></a>
                                                </a>
                                            </div>
                                            <div class="detail">
                                                <a href="html/AmNhac.html">
                                                    <h6>Những cặp tình nhân tin đồn gây chú ý của showbiz Việt</h6>
                                                </a>
                                                <ul class="meta">
                                                    <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
                                                            2018</a></li>
                                                    <li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="single-post d-flex flex-row">
                                            <div class="thumb">
                                                <a href="html/AmNhac.html">
                                                    <img class="HinhNho" src="https://znews-photo.zadn.vn/w660/Uploaded/bpivpjbp/2019_05_03/m11526380122969151497767.jpg" alt=""></a>
                                            </div>
                                            <div class="detail">
                                                <a href="html/AmNhac.html">
                                                    <h6>Những cặp tình nhân tin đồn gây chú ý của showbiz Việt</h6>
                                                </a>
                                                <ul class="meta">
                                                    <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
                                                            2018</a></li>
                                                    <li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="single-post d-flex flex-row">
                                            <div class="thumb">
                                                <img class="HinhNho" src="https://znews-photo.zadn.vn/w660/Uploaded/bpivpjbp/2019_05_03/m11526380122969151497767.jpg" alt=""></a>
                                            </div>
                                            <div class="detail">
                                                <a href="html/TheThaoTG02.html">
                                                    <h6>Nadal và dấu hỏi về triều đại sân đất nện</h6>
                                                </a>
                                                <ul class="meta">
                                                    <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
                                                            2018</a></li>
                                                    <li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="single-post d-flex flex-row">
                                            <div class="thumb">
                                                <a href="html/AmNhac.html">
                                                    <img class="HinhNho" src="https://znews-photo.zadn.vn/w660/Uploaded/bpivpjbp/2019_05_03/m11526380122969151497767.jpg" alt=""></a>
                                                </a>
                                            </div>
                                            <div class="detail">

                                                <a href="html/AmNhac.html">
                                                    <h6>Những cặp tình nhân tin đồn gây chú ý của showbiz Việt</h6>
                                                </a>
                                                <ul class="meta">
                                                    <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
                                                            2018</a></li>
                                                    <li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="single-post d-flex flex-row">
                                            <div class="thumb">
                                                <a href="html/AmNhac.html">
                                                    <img class="HinhNho" src="https://znews-photo.zadn.vn/w660/Uploaded/bpivpjbp/2019_05_03/m11526380122969151497767.jpg" alt=""></a>
                                                </a>
                                            </div>
                                            <div class="detail">
                                                <a href="html/AmNhac.html">
                                                    <h6>Những cặp tình nhân tin đồn gây chú ý của showbiz Việt</h6>
                                                </a>
                                                <ul class="meta">
                                                    <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
                                                            2018</a></li>
                                                    <li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="single-post d-flex flex-row">
                                            <div class="thumb">
                                                <img class="HinhNho" src="https://znews-photo.zadn.vn/w660/Uploaded/bpivpjbp/2019_05_03/m11526380122969151497767.jpg" alt=""></a>
                                            </div>
                                            <div class="detail">
                                                <a href="html/TheThaoTG02.html">
                                                    <h6>Nadal và dấu hỏi về triều đại sân đất nện</h6>
                                                </a>
                                                <ul class="meta">
                                                    <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
                                                            2018</a></li>
                                                    <li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="single-post d-flex flex-row">
                                            <div class="thumb">
                                                <a href="html/AmNhac.html">
                                                    <img class="HinhNho" src="https://znews-photo.zadn.vn/w660/Uploaded/bpivpjbp/2019_05_03/m11526380122969151497767.jpg" alt=""></a>
                                                </a>
                                            </div>
                                            <div class="detail">
                                                <a href="html/AmNhac.html">
                                                    <h6>Những cặp tình nhân tin đồn gây chú ý của showbiz Việt</h6>
                                                </a>
                                                <ul class="meta">
                                                    <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
                                                            2018</a></li>
                                                    <li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="single-sidebar-widget most-popular-widget">
                                <h6 class="title">Top 10 Bài Viết Mới Nhất</h6>
                                <div class="single-list flex-row d-flex">
                                    <div class="thumb">
                                        <a href="html/AmNhac.html">
                                            <img class="HinhNho" src="https://znews-photo.zadn.vn/w660/Uploaded/bpivpjbp/2019_05_03/m11526380122969151497767.jpg" alt=""></a>
                                    </div>
                                    <div class="details">
                                        <a href="html/AmNhac.html">
                                            <h6>Những cặp tình nhân tin đồn gây chú ý của showbiz Việt</h6>
                                        </a>
                                        <ul class="meta">
                                            <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
                                                    2018</a></li>
                                            <li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="single-list flex-row d-flex">
                                    <div class="thumb">
                                        <a href="html/AmNhac.html">
                                            <img class="HinhNho" src="https://znews-photo.zadn.vn/w660/Uploaded/bpivpjbp/2019_05_03/m11526380122969151497767.jpg" alt=""></a>
                                    </div>
                                    <div class="details">
                                        <a href="html/AmNhac.html">
                                            <h6>Những cặp tình nhân tin đồn gây chú ý của showbiz Việt</h6>
                                        </a>
                                        <ul class="meta">
                                            <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
                                                    2018</a></li>
                                            <li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="single-list flex-row d-flex">
                                    <div class="thumb">
                                        <a href="html/AmNhac.html">
                                            <img class="HinhNho" src="https://znews-photo.zadn.vn/w660/Uploaded/bpivpjbp/2019_05_03/m11526380122969151497767.jpg" alt=""></a>
                                    </div>
                                    <div class="details">
                                        <a href="html/AmNhac.html">
                                            <h6>Những cặp tình nhân tin đồn gây chú ý của showbiz Việt</h6>
                                        </a>
                                        <ul class="meta">
                                            <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
                                                    2018</a></li>
                                            <li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="single-list flex-row d-flex">
                                    <div class="thumb">
                                        <a href="html/AmNhac.html">
                                            <img class="HinhNho" src="https://znews-photo.zadn.vn/w660/Uploaded/bpivpjbp/2019_05_03/m11526380122969151497767.jpg" alt=""></a>
                                    </div>
                                    <div class="details">
                                        <a href="html/AmNhac.html">
                                            <h6>Những cặp tình nhân tin đồn gây chú ý của showbiz Việt</h6>
                                        </a>
                                        <ul class="meta">
                                            <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
                                                    2018</a></li>
                                            <li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="single-list flex-row d-flex">
                                    <div class="thumb">
                                        <a href="html/AmNhac.html">
                                            <img class="HinhNho" src="https://znews-photo.zadn.vn/w660/Uploaded/bpivpjbp/2019_05_03/m11526380122969151497767.jpg" alt=""></a>
                                    </div>
                                    <div class="details">
                                        <a href="html/AmNhac.html">
                                            <h6>Những cặp tình nhân tin đồn gây chú ý của showbiz Việt</h6>
                                        </a>
                                        <ul class="meta">
                                            <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
                                                    2018</a></li>
                                            <li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="single-list flex-row d-flex">
                                    <div class="thumb">
                                        <a href="html/AmNhac.html">
                                            <img class="HinhNho" src="https://znews-photo.zadn.vn/w660/Uploaded/bpivpjbp/2019_05_03/m11526380122969151497767.jpg" alt=""></a>
                                    </div>
                                    <div class="details">
                                        <a href="html/AmNhac.html">
                                            <h6>Những cặp tình nhân tin đồn gây chú ý của showbiz Việt</h6>
                                        </a>
                                        <ul class="meta">
                                            <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
                                                    2018</a></li>
                                            <li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="single-list flex-row d-flex">
                                    <div class="thumb">
                                        <a href="html/AmNhac.html">
                                            <img class="HinhNho" src="https://znews-photo.zadn.vn/w660/Uploaded/bpivpjbp/2019_05_03/m11526380122969151497767.jpg" alt=""></a>
                                    </div>
                                    <div class="details">
                                        <a href="html/AmNhac.html">
                                            <h6>Những cặp tình nhân tin đồn gây chú ý của showbiz Việt</h6>
                                        </a>
                                        <ul class="meta">
                                            <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
                                                    2018</a></li>
                                            <li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="single-list flex-row d-flex">
                                    <div class="thumb">
                                        <a href="html/AmNhac.html">
                                            <img class="HinhNho" src="https://znews-photo.zadn.vn/w660/Uploaded/bpivpjbp/2019_05_03/m11526380122969151497767.jpg" alt=""></a>
                                    </div>
                                    <div class="details">
                                        <a href="html/AmNhac.html">
                                            <h6>Những cặp tình nhân tin đồn gây chú ý của showbiz Việt</h6>
                                        </a>
                                        <ul class="meta">
                                            <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
                                                    2018</a></li>
                                            <li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="single-list flex-row d-flex">
                                    <div class="thumb">
                                        <a href="html/AmNhac.html">
                                            <img class="HinhNho" src="https://znews-photo.zadn.vn/w660/Uploaded/bpivpjbp/2019_05_03/m11526380122969151497767.jpg" alt=""></a>
                                    </div>
                                    <div class="details">
                                        <a href="html/AmNhac.html">
                                            <h6>Những cặp tình nhân tin đồn gây chú ý của showbiz Việt</h6>
                                        </a>
                                        <ul class="meta">
                                            <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
                                                    2018</a></li>
                                            <li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="single-list flex-row d-flex">
                                    <div class="thumb">
                                        <a href="html/AmNhac.html">
                                            <img class="HinhNho" src="https://znews-photo.zadn.vn/w660/Uploaded/bpivpjbp/2019_05_03/m11526380122969151497767.jpg" alt=""></a>
                                    </div>
                                    <div class="details">
                                        <a href="html/AmNhac.html">
                                            <h6>Những cặp tình nhân tin đồn gây chú ý của showbiz Việt</h6>
                                        </a>
                                        <ul class="meta">
                                            <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
                                                    2018</a></li>
                                            <li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <div class="single-sidebar-widget social-network-widget">
                                <h6 class="title">Social Networks</h6>
                                <ul class="social-list">
                                    <li class="d-flex justify-content-between align-items-center fb">
                                        <div class="icons d-flex flex-row align-items-center">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                            <p>983 Likes</p>
                                        </div>
                                        <a href="#">Like our page</a>
                                    </li>
                                    <li class="d-flex justify-content-between align-items-center tw">
                                        <div class="icons d-flex flex-row align-items-center">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                            <p>983 Followers</p>
                                        </div>
                                        <a href="#">Follow Us</a>
                                    </li>
                                    <li class="d-flex justify-content-between align-items-center yt">
                                        <div class="icons d-flex flex-row align-items-center">
                                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                            <p>983 Subscriber</p>
                                        </div>
                                        <a href="#">Subscribe</a>
                                    </li>
                                    <li class="d-flex justify-content-between align-items-center rs">
                                        <div class="icons d-flex flex-row align-items-center">
                                            <i class="fa fa-rss" aria-hidden="true"></i>
                                            <p>983 Subscribe</p>
                                        </div>
                                        <a href="#">Subscribe</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </section>

        <!-- End latest-post Area -->
    </div>

    <!-- start footer Area -->
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 single-footer-widget">
                    <h4>Top Products</h4>
                    <ul>
                        <li><a href="#">Managed Website</a></li>
                        <li><a href="#">Manage Reputation</a></li>
                        <li><a href="#">Power Tools</a></li>
                        <li><a href="#">Marketing Service</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Brand Assets</a></li>
                        <li><a href="#">Investor Relations</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Features</h4>
                    <ul>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Brand Assets</a></li>
                        <li><a href="#">Investor Relations</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Resources</h4>
                    <ul>
                        <li><a href="#">Guides</a></li>
                        <li><a href="#">Research</a></li>
                        <li><a href="#">Experts</a></li>
                        <li><a href="#">Agencies</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 single-footer-widget">
                    <h4>Instragram Feed</h4>
                    <ul class="instafeed d-flex flex-wrap">
                        <li><img src="img/i1.jpg" alt=""></li>
                        <li><img src="img/i2.jpg" alt=""></li>
                        <li><img src="img/i3.jpg" alt=""></li>
                        <li><img src="img/i4.jpg" alt=""></li>
                        <li><img src="img/i5.jpg" alt=""></li>
                        <li><img src="img/i6.jpg" alt=""></li>
                        <li><img src="img/i7.jpg" alt=""></li>
                        <li><img src="img/i8.jpg" alt=""></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom row align-items-center">
                <p class="footer-text m-0 col-lg-8 col-md-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-4 col-md-12 footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->
    <!--Dang Nhap-->

    <div id="id01" class="modal">
        <form class="modal-content animate" action="#" method="post">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img class="rounded-circle" src="https://www.gmkfreelogos.com/logos/S/img/SQ.gif" alt="Avatar" width="100px" height="100px">
            </div>

            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input class="input1" type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input class="input1" type="password" placeholder="Enter Password" name="psw" required>

                <div class="row">
                    <button class="buttonlg col-6" type="submit">Login</button>
                    <button class="cancelbtn col-6" type="button" onclick="document.getElementById('id01').style.display='none'">Cancel</button>

                </div>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>

            <div class="container mb-3" style="background-color:#f1f1f1">

                <span class="psw ">Forgot <a href="#">password?</a></span>
            </div>
        </form>
    </div>




</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
<script src="js/breaking-news-ticker.min.js "></script>
<script type="text/javascript " src="js/BM.js "></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="js/easing.min.js"></script>
<script src="js/hoverIntent.js"></script>
<script src="js/superfish.min.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/mn-accordion.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/mail-script.js"></script>



</html>